@model FilmBayMVC.ViewModels.ModelsKeeper

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" >
        All
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        @{
            <li role="presentation"><a id="All" role="menuitem" tabindex="-1" onclick="genereDropdown_Click (this.id)" >All</a></li>
            foreach (string genere in Model.generesList)
            {
                <li role="presentation"><a id="@genere" role="menuitem" tabindex="-1" onclick="genereDropdown_Click(this.id)">@genere</a></li>
            }
        }
    </ul>
</div>